@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Phudu:wght@500&family=Ubuntu:wght@300&family=Uchen&display=swap');

.carrinho {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0px;
    right: 0;
    background-color: #23232e;
    opacity: 0.9;
    text-align: center;
    height: 100vh;
    width: 20vw;
    z-index: 10;
    box-shadow: 0px 0px 2px 0px white;
    border-radius: 5px;
    animation-duration: 0.5s;
    color: white;
    margin-right: -20vw;

}

.carrinho button {
    padding: 5px;
    margin: 5px;
}

.fechar-carrinho {
    background-color: #23232e;
    border: none;
    padding: 20px;
}

.produto {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    padding: 10px;
    background-color: white;
    margin: 10px;
}

.produtocarrinho {
    overflow-y: scroll;
    height: 70%;
    margin: 5px;
}

.produto img {
    height: 70px;
    border-radius: 10px;
    margin-right: 10px;
}

.produto p {
    font-family: 'Ubunto';
    color: black;
    margin-bottom: 5px;
}

.produto button {
    border: none;
    color: aliceblue;
    background-color: dodgerblue;
    padding: 5px;
    font-size: 10px;
}

.botoes-carrinho {
    position: absolute;
    bottom: 0;
    right: 2px;
    display: flex;
    align-items: center;
}

.botoes-carrinho button {
    color: #23232e;
    background: none;
    font-size: 15px;
    margin: 5px;
}

#fechar-produto {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    border: none;
}

#precototal {
    display: flex;
    padding-left: 30px;
    gap: 20px;
    background-color: white;
    color: black;
    border-radius: 5px;
    margin: 5px;
}

#totalvalor{
    color: green;
}


#cor {
    color: rgb(105, 104, 104);
}